/* 主業背景 */
body{
    background-color: rgba(189, 187, 186, 0.814);

}
/* 導覽背景長度 */
nav{
    height:15% ;

}
/* 導覽業背景 */
.navbar{

background-color: rgba(240, 248, 255, 0.836);


}

a img{
    border:1px solid black

}

/* logo旁邊的目錄 */
li a {
    color: rgba(135, 136, 136, 0.802) !important;
    font-size:15%  !important;

}
/* 滑鼠滑過有顏色 */
li a:hover{  
    color:black !important;

}
/* 導覽按鈕顏色 */
.navbar-toggler{

    background-color: darkgrey;

}
.navbar-nav{
    background-color: antiquewhite;
}
@media (max-width:600px){
    nav{
        height:auto ;
    }
}
